<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



<!-- 프로퍼티로 직접 dao와 gwamokmanager 연결시키기-->
<bean id="dao" class="model.DAO" />
<bean id="gwamokManager" class="control.CGwamokManager">
	<property name="dao" ref="dao" />
</bean>
<bean id="gwamok" class="model.EGwamok">
	<property name="ID"  value="3304"></property>
	<property name="name"  value="고급객체"></property>
	<property name="hakjeom"  value="3"></property>
</bean>
</beans>
